# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Compiled files
dist/

# Dependency directories
lib/
vendor/

# macOS
.DS_Store

# Windows
Thumbs.db

# MongoDB data directory
/data/db/
